opencv-python 
pytesseract 
scikit-learn 
matplotlib 
pandas 
seaborn
sentence-transformers
python-dotenv
google-generativeai
pillow
streamlit
llama-cpp-python
tesseract-ocr 
libtesseract-dev
transformers[torch] 
accelerate 
auto-gptq 
optimum  
scipy  
peft 
trl 
sentencepiece