opencv-python
pytesseract
scikit-learn
matplotlib
pandas
seaborn
sentence-transformers
python-dotenv
google-generativeai
pillow
streamlit
llama-cpp-python
transformers[torch]
accelerate
auto-gptq
optimum
scipy
peft
trl
sentencepiece